<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/product/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/product/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/product/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/product/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/product/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/product/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/product/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/product/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                    <div class="tip">2</div>
                </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                    <div class="tip">2</div>
                </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img src="/product/img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header_section">
         <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
               <a class="navbar-brand" href="index.html"><img width="150" src="images/logo.png" alt="#" /></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class=""> </span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav" style="">
                     <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                     </li>
                    
                     <li class="nav-item" style="margin-right: -1px;">
                        <a class="nav-link" href="/user-shop">Shop</a>
                     </li>
                    
                     <li class="nav-item">
                        <a class="nav-link" href="/whishlistshow"><i class="fa-regular fa-heart"></i></a>
                     </li>
                    
                     <li class="nav-item">
                        <a class="nav-link" href="/user-shopcart">
                           <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029"
                              style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                              <g>
                                 <g>
                                    <path
                                       d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                                          c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                                 </g>
                              </g>
                              <g>
                                 <g>
                                    <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                                          C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                                          c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                                          C457.728,97.71,450.56,86.958,439.296,84.91z" />
                                 </g>
                              </g>
                              <g>
                                 <g>
                                    <path
                                       d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                                          c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                                 </g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                           </svg>
                        </a>
                     </li>


                     <li class="nav-item">
                        <a class="nav-link" href="/user-profile"><i class="fa fa-user" aria-hidden="true"></i></a>
                     </li>
                     <form class="form-inline">
                      
                       
                        <li>
                           <div class="dropdown">
                              <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                 data-bs-toggle="dropdown" aria-expanded="false">
                                 {{#if fullname}}
                                 <a style="color: black;">{{fullname}}</a>
                                 {{else}}
                                 LOGIN
                                 {{/if}}
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                 {{#if fullname}}
                                 <li><a style="color: black;border-radius: 80rem;" class="dropdown-item"
                                       href="/user-logout">Logout</a></li>
                                 {{else}}
                                 <li><a style="color: black;border-radius: 80rem;" class="dropdown-item"
                                       href="/user-login">Login</a></li>
                                 {{/if}}
                              </ul>
                           </div>
                           
                        </li>
                     </form>
                  </ul>
               </div>
            </nav>
         </div>
      </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6 class="coupon__link"><span class="icon_tag_alt"></span> <a href="#">Have a coupon?</a> Click
                        here to enter your code.</h6>
                </div>
            </div>

            <a href="/editaddress" style="color: white;" class="btn btn-dark  d-block " type="submit">Select Address</a>
            {{!-- //-----------------------------------------second
            model-----------------------------------------------// --}}
  
            <form id="checkout-form" action="" method="" >
                <div class="row">

                    <div class="col-lg-8">
                        <h5>Billing detail</h5>
                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>First Name <span>*</span></p>
                                    <input type="text" name="firstname" value="{{addressdetails.firstname}}">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Last Name <span>*</span></p>
                                    <input type="text" name="lastname" value="{{addressdetails.lastname}}">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="checkout__form__input">
                                    <p>Land Mark <span>*</span></p>
                                    <input type="text" name="landmark" value="{{addressdetails.landmark}}">
                                </div>
                              
                                <div class="checkout__form__input">
                                    <p>Town <span>*</span></p>
                                    <input type="text" name="town" value="{{addressdetails.town}}">
                                </div>
                                <div class="checkout__form__input">
                                    <p>State <span>*</span></p>
                                    <input type="text" name="state" value="{{addressdetails.state}}">
                                </div>
                                <div class="checkout__form__input">
                                    <p>Pincode<span>*</span></p>
                                    <input type="text" name="pincode" value="{{addressdetails.pincode}}">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Phone <span>*</span></p>
                                    <input type="text" name="phonenumber" value="{{addressdetails.phonenumber}}">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Email <span>*</span></p>
                                    <input type="text" name="email" value="{{addressdetails.email}}">
                                </div>
                            </div>
                            

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout__order">
                            {{#if walletpass}}
                             <div class="checkout__order__product">
                                <ul>
                                    <li>
                                        <span class="top__text">Wallet Amount</span>
                                        <span style="color: red;" class="top__text__right ">₹{{walletpass}}</span>
                                    </li>
                                </ul>
                            </div>
                               {{/if}}

                            <h5>Your order</h5>
                            <div class="checkout__order__product">
                                <ul>
                                    <li>
                                        <span class="top__text">Product</span>
                                        <span class="top__text__right">Total</span>
                                    </li>
                                    {{#each cartAllProducts}}
                                    <li>{{products.productname}}<span>₹{{totalprice}}</span></li>
                                    {{/each}}

                                </ul>
                            </div>
                            <div class="checkout__order__total">
                                <ul>
                                    <li>Subtotal <span><input name="grandtotal" value="{{grandtotal}}" type="hidden">
                                            ₹{{subgrandtotal}}.00</span></li>
                                      <li>shipping Charge <span>₹ 84.00</span></li>       
                                    <li>Total <span>₹{{grandtotal}}.00</span></li>
                                     
                                </ul>
                            </div>
                            <div class="checkout__order__widget">
                               
                                    login at the top of the page.</p> --}}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="COD" name="paymentmethod"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Cash On Delivery
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="OnlinePayment" name="paymentmethod"
                                        id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Online Payment
                                    </label>
                                </div>
                                 {{#if walletpass}}
                                 <div class="form-check">
                                    <input class="form-check-input" type="radio" value="WALLET" name="paymentmethod"
                                        id="flexRadioDefault3">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Wallet
                                    </label>
                                </div>
                                 {{/if}}
                               
                            </div>
                            <button type="submit" class="site-btn">Place oder</button>
                        </div>
                           <p style="font-weight:600;  font-size:15px" id="error-message" class="text-danger"></p>
                    </div>
                </div>
            </form>
        </div>
    </section>
    
    <script>
         $("#checkout-form").submit((e) => {
            e.preventDefault()
            $.ajax({
                url: '/orderlistpass',
                method: 'post',
                data: $('#checkout-form').serialize(),
                success: (response) => {
                    
                    if (response.status==true) {   
                       
                        razorpayPayment(response.order)
                    }else{
                        location.href="/user-orderstatus"
                    }
                }


            })
        }) 
        function razorpayPayment(order) {
            var options = {
                "key": "rzp_test_xbdn27HLaTgcWx", // Enter the Key ID generated from the Dashboard
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Famms Fashion", //your business name
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
               
                "handler": function (response) {
                    

                    verifyPayment(response,order)

                },
                "prefill": {
                    "name": "Gaurav Kumar", //your customer's name
                    "email": "gaurav.kumar@example.com",
                    "contact": "9000090000"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
             rzp1.open();
        }
        function verifyPayment(payment,order){
            $.ajax({
                url:'/verify-payment',
                data:{
                    payment,
                    order
                },
                method:'post',
                success:(response)=>{
                    if(response.PaymentSuccess==true){
                        location.href="/user-orderstatus"
                    }else{
                        alert('payment failed')
                    }
                }            
                 
            })
        }
    </script>
    <!-- Checkout Section End -->

    <!-- Instagram Begin -->

    <!-- Instagram End -->

    <!-- Footer Section Begin -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="full">
                        <div class="logo_footer">
                            <a href="#"><img width="150" src="images/logo.png" alt="#" /></a>
                        </div>
                        <div class="information_f">
                           <p><strong>ADDRESS:</strong> 28 White tower, Street Name Mangalore City, INDIA</p>
                            <p><strong>TELEPHONE:</strong> 7676618749</p>
                            <p><strong>EMAIL:</strong> Irshadalike@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="widget_menu">
                                        <h3>Menu</h3>
                                        <ul>
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">Testimonial</a></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="widget_menu">
                                        <h3>Account</h3>
                                        <ul>
                                            <li><a href="#">Account</a></li>
                                            <li><a href="#">Checkout</a></li>
                                            <li><a href="#">Login</a></li>
                                            <li><a href="#">Register</a></li>
                                            <li><a href="#">Shopping</a></li>
                                            <li><a href="#">Widget</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="widget_menu">
                                <h3>Newsletter</h3>
                                <div class="information_f">
                                    <p>Subscribe by our newsletter and get update protidin.</p>
                                </div>
                                <div class="form_sub">
                                    <form>
                                        <fieldset>
                                            <div class="field">
                                                <input type="email" placeholder="Enter Your Mail" name="email" />
                                                <input type="submit" value="Subscribe" />
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="/product/js/jquery-3.3.1.min.js"></script>
    <script src="/product/js/bootstrap.min.js"></script>
    <script src="/product/js/jquery.magnific-popup.min.js"></script>
    <script src="/product/js/jquery-ui.min.js"></script>
    <script src="/product/js/mixitup.min.js"></script>
    <script src="/product/js/jquery.countdown.min.js"></script>
    <script src="/product/js/jquery.slicknav.js"></script>
    <script src="/product/js/owl.carousel.min.js"></script>
    <script src="/product/js/jquery.nicescroll.min.js"></script>
    <script src="/product/js/main.js"></script>

    <script src="/javascript/checkout-addval.js"></script>

</body>

</html>