<!DOCTYPE html>
<html>

<head>
   <!-- Basic -->
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
   <!-- Site Metas -->
   <meta name="keywords" content="" />
   <meta name="description" content="" />
   <meta name="author" content="" />
   <link rel="shortcut icon" href="images/favicon.png" type="">
   <title>Famms - Fashion HTML Template</title>
   <!-- bootstrap core css -->
   <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
   <!-- font awesome style -->
   <link href="css/font-awesome.min.css" rel="stylesheet" />
   <!-- Custom styles for this template -->
   <link href="css/style.css" rel="stylesheet" />
   <!-- responsive style -->
   <link href="css/responsive.css" rel="stylesheet" />
</head>

<body>
 
<!-- header section strats -->
<header class="header_section">
         <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
               <a class="navbar-brand" href="index.html"><img width="250" src="images/logo.png" alt="#" /></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class=""> </span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav" style="">
                     <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                     </li>
                     {{!-- <li class="nav-item dropdown" style="margin-right: -1px;">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Pages <span
                                 class="caret"></span></a>
                        <ul class="dropdown-menu">
                           <li><a href="about.html">About</a></li>
                           <li><a href="testimonial.html">Testimonial</a></li>
                        </ul>
                     </li> --}}
                     <li class="nav-item" style="margin-right: -1px;">
                        <a class="nav-link" href="/user-shop">Shop</a>
                     </li>
                     {{!-- <li class="nav-item">
                        <a class="nav-link" href="/admin-viewproducts">Blog</a>
                     </li> --}}
                     {{!-- <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                     </li> --}}
                     <li class="nav-item">
                        <a class="nav-link" href="/whishlistshow"><i class="fa-regular fa-heart"></i></a>
                     </li>
                     {{!-- <li><a href="#"><span class="icon_heart_alt"></span>
                           <div class="tip"></div>
                        </a></li> --}}

                     <li class="nav-item">
                        <a class="nav-link" href="/user-shopcart">
                           <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029"
                              style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                              <g>
                                 <g>
                                    <path
                                       d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                                          c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                                 </g>
                              </g>
                              <g>
                                 <g>
                                    <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                                          C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                                          c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                                          C457.728,97.71,450.56,86.958,439.296,84.91z" />
                                 </g>
                              </g>
                              <g>
                                 <g>
                                    <path
                                       d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                                          c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                                 </g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                              <g>
                              </g>
                           </svg>
                        </a>
                     </li>


                     <li class="nav-item">
                        <a class="nav-link" href="/user-profile"><i class="fa fa-user" aria-hidden="true"></i></a>
                     </li>
                     <form class="form-inline">
                        {{!-- <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                           <i class="fa fa-search" aria-hidden="true"></i>
                        </button> --}}

                       
                        <li>
                           <div class="dropdown">
                              <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                 data-bs-toggle="dropdown" aria-expanded="false">
                                 {{#if name}}
                                 <a style="color: black;">{{name}}</a>
                                 {{else}}
                                 LOGIN
                                 {{/if}}
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                 {{#if name}}
                                 <li><a style="color: black;border-radius: 80rem;" class="dropdown-item"
                                       href="/user-logout">Logout</a></li>
                                 {{else}}
                                 <li><a style="color: black;border-radius: 80rem;" class="dropdown-item"
                                       href="/user-login">Login</a></li>
                                 {{/if}}
                              </ul>
                           </div>
                           {{!-- <a href="http://localhost:3000/user-login"> <button type="button"
                                 class="btn btn-primary">LogIn</button></a> --}}
                        </li>
                     </form>
                  </ul>
               </div>
            </nav>
         </div>
      </header>
<!-- end header section -->
<section style="background-color: #eee;">
   <div class="container py-5">
      <div class="row">
         <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
               <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">User</a></li>
                  <li class="breadcrumb-item active" aria-current="page">User Profile</li>
               </ol>
            </nav>
         </div>
      </div>

      <div class="row">

         <div class="col-lg-8">
            <div class="card mb-4">
               <div class="card-body">
                  <div class="row">
                     <div class="col-sm-3">
                        <p class="mb-0">Full Name</p>
                     </div>
                     <div class="col-sm-9">
                        {{#each userinformation}}
                        <p class="text-muted mb-0">{{fullname}}</p>

                     </div>
                  </div>
                  <hr>
                  <div class="row">
                     <div class="col-sm-3">
                        <p class="mb-0">Email</p>
                     </div>
                     <div class="col-sm-9">
                        <p class="text-muted mb-0">{{useremail}}</p>
                     </div>
                  </div>
                  <hr>
                  <div class="row">
                     <div class="col-sm-3">
                        <p class="mb-0">UserName</p>
                     </div>
                     <div class="col-sm-9">
                        <p class="text-muted mb-0">{{username}}</p>
                        {{/each}}
                     </div>
                  </div>
                  <hr>
               </div>
               <div class="row">
                  <form action="/usersaddress" name="submission" onsubmit="return profileaddressvalidate()" role="form" oninput="addclearmsg()" method="post">
                     <div class="col-lg-8">
                       
                        <h5>Enter Your Address Details</h5>
                     
                        <div  class="row">
                           
                           <div class="col-lg-6 col-md-6 col-sm-6">
                              <div class="checkout__form__input">
                                 <p>First Name <span>*</span></p>
                                 <input type="text" value="{{addressinfo.address.[0].firstname}}" name="firstname">
                              </div>
                                  <p style="font-weight:600;  font-size:15px" id="error-message" class="text-danger"></p>
                           </div>
                        
                           <div class="col-lg-6 col-md-6 col-sm-6">
                              <div class="checkout__form__input">
                                 <p>Last Name <span>*</span></p>
                                 <input type="text" value="{{addressinfo.address.[0].lastname}}" name="lastname">
                              </div>
                                 <p style="font-weight:600;  font-size:15px" id="error-message" class="text-danger"></p>

                           </div>
                           <div class="col-lg-12">
                              <div class="checkout__form__input">
                                 <p>Land mark <span>*</span></p>
                                 <input type="text" value="{{addressinfo.address.[0].landmark}}" name="landmark">
                              </div>
                               <p style="font-weight:600;  font-size:15px" id="error-message" class="text-danger"></p>

                              {{!-- <div class="checkout__form__input">
                                 <p>Address <span>*</span></p>
                                 <input type="text" name="address" placeholder="Street Address">
                                
                              </div> --}}
                              <div class="checkout__form__input">
                                 <p>Town <span>*</span></p>
                                 <input type="text" value="{{addressinfo.address.[0].town}}" name="town">
                              </div>
               
                                  <p style="font-weight:600;  font-size:15px" id="error-message" class="text-danger"></p>

                              <div class="checkout__form__input">
                                 <p>State <span>*</span></p>
                                 <input type="text" value="{{addressinfo.address.[0].state}}" name="state">
                              </div>
                                  <p style="font-weight:600;  font-size:15px" id="error-message" class="text-danger"></p>

                              <div class="checkout__form__input">
                                 <p>Pincode <span>*</span></p>
                                 <input type="tel" value="{{addressinfo.address.[0].pincode}}" name="pincode">
                              </div>
                         <p style="font-weight:600;  font-size:15px" id="error-message" class="text-danger"></p>

                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6">
                              <div class="checkout__form__input">
                                 <p>Phone <span>*</span></p>
                                 <input type="tel" value="{{addressinfo.address.[0].phonenumber}}" name="phonenumber">
                              </div>
                                  <p style="font-weight:600;  font-size:15px" id="error-message" class="text-danger"></p>

                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6">
                              <div class="checkout__form__input">
                                 <p>Email <span>*</span></p>
                                 <input type="text" value="{{addressinfo.address.[0].email}}" name="email" >
                              </div>
                                  <p style="font-weight:600;  font-size:15px" id="error-message" class="text-danger"></p>

                              <button class="btn btn-dark mb-2  d-block" id="dat"    type="submit">Submit</button> 
                           </div>
                        </div>
                     </div>
                     </form>
               </div>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="card mb-4">
               <div class="card-body text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                     class="rounded-circle img-fluid" style="width: 150px;">
                  {{#each userinformation}}
                  <h4 class="my-3">{{fullname}}</h4>
                  {{/each}}
               
                 
               </div>
               <a href="/user-change" type="button" class="btn btn-light">Change Password</a>
            </div>
  
              <div class="card mb-4">
               <div class="card-body text-center">
                  <h5>WALLET AMOUNT</h5>
                  <hr>
                 <p style="color: red;">Rs:{{walletshow.wallet}}</p>               
               </div>             
            </div>

             <a href="/order-list"><button style="margin-top: 2px; m-5" type="button"
                                class="btn btn-dark">Order History</button></a>
         </div>

      </div>
   </div>
   	
</section>

<!-- footer start -->
<footer>
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <div class="full">
               <div class="logo_footer">
                  <a href="#"><img width="210" src="images/logo.png" alt="#" /></a>
               </div>
               <div class="information_f">
                  <p><strong>ADDRESS:</strong> 28 White tower, Street Name New York City, USA</p>
                  <p><strong>TELEPHONE:</strong> +91 987 654 3210</p>
                  <p><strong>EMAIL:</strong> yourmain@gmail.com</p>
               </div>
            </div>
         </div>
         <div class="col-md-8">
            <div class="row">
               <div class="col-md-7">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="widget_menu">
                           <h3>Menu</h3>
                           <ul>
                              <li><a href="#">Home</a></li>
                              <li><a href="#">About</a></li>
                              <li><a href="#">Services</a></li>
                              <li><a href="#">Testimonial</a></li>
                              <li><a href="#">Blog</a></li>
                              <li><a href="#">Contact</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="widget_menu">
                           <h3>Account</h3>
                           <ul>
                              <li><a href="#">Account</a></li>
                              <li><a href="#">Checkout</a></li>
                              <li><a href="#">Login</a></li>
                              <li><a href="#">Register</a></li>
                              <li><a href="#">Shopping</a></li>
                              <li><a href="#">Widget</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="widget_menu">
                     <h3>Newsletter</h3>
                     <div class="information_f">
                        <p>Subscribe by our newsletter and get update protidin.</p>
                     </div>
                     <div class="form_sub">
                        <form>
                           <fieldset>
                              <div class="field">
                                 <input type="email" placeholder="Enter Your Mail" name="email" />
                                 <input type="submit" value="Subscribe" />
                              </div>
                           </fieldset>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
<!-- footer end -->

    <script src="/product/js/jquery-3.3.1.min.js"></script>
    <script src="/product/js/bootstrap.min.js"></script>
    <script src="/product/js/jquery.magnific-popup.min.js"></script>
    <script src="/product/js/jquery-ui.min.js"></script>
    <script src="/product/js/mixitup.min.js"></script>
    <script src="/product/js/jquery.countdown.min.js"></script>
    <script src="/product/js/jquery.slicknav.js"></script>
    <script src="/product/js/owl.carousel.min.js"></script>
    <script src="/product/js/jquery.nicescroll.min.js"></script>
    <script src="/product/js/main.js"></script>



<script src="/javascript/user-addressval.js"></script>

</body>
</html>